.list {
  margin: 0 40px;

  &-header {
    height: 40px;
    line-height: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;

    &-title {
      display: inline-block;
      margin: 0;
      font-weight: 400;
    }

    &-tools {
      height: inherit;
      position: absolute;
      top: 0;
      right: 0;
      
      &-button {
        height: inherit;
        float: left;
        margin: 0 0 0 5px;
        padding: 0 15px;
        border: none;
        background-color: $light-gray;

        &--delete {
          color: $red;
        }
      }
    }
    
  }
  

  .no-items-found {
    text-align: center;
    margin-top: 1em;
    font-weight: 100;
    color: $red;
  }
}