.sidebar {
  &-header-button {
    height: 52px;
    margin: 20px 0 30px;
    padding: 0;
    border: none;
    background: none;

    &-icon {
      color: $primary;

      &:hover {
        line-height: 52px;
        color: $dark-gray;
        cursor: pointer;
        transition: color .1s;

        &:before {
          content: "\f08b"; // sign-out
        }
      }
    }
  }
}

.list-button {
  display: block;
  height: 62px;
  line-height: 30px;
  color: $black;
  padding: 1em .4em;
  border-bottom: 1px solid $light-gray;

  &:hover, &:focus, &:active {
    color: lighten($black, 40%);
  }

  &--title {
    display: inline-block;
    max-width: calc(100% - 15px);
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--icon {
    float: right;
    line-height: inherit;
  }

  &.list-button-new {
    width: 100%;
    height: 52px;
    line-height: 24px;
    margin: 0;
    text-align: left;
    background: none;
    border: none;

    .list-button--title {
      font-size: 1em;
    }
  }
}

